python-dotenv
numpy
sentence_transformers
gradio
langchain
crewai
crewai_tools
langchain_community
transformers  
torch  # If you're using a GPU for Mistral 7B
accelerate # Required by transformers for quickly load LLMs.
elevenlabs
moviepy # For video editing and combining elements
posthog  # For monitoring
fal-client
typing
mistralai
langchain_mistralai
